#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  animation: fadeIn 0.5s ease-in-out;
}

.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 2fr));
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.persona-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 0.5rem;
  background-color: #ffffff;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.persona-card:hover {
  transform: translateY(-5px);
}

.persona-card h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #1E293E;
  text-align: left;
  margin-bottom: 1rem;
}

.persona-card p {
  margin: 0;
  font-size: 1rem;
  color: #475569;
}

.persona-info {
  display: flex;
  gap: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}