#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 2fr));
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.persona-card {
  background-color: #80cf75;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  animation: fadeIn 0.5s ease-in-out;
}

.persona-card:hover {
  background-color: #6fbf66;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.persona-card h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-align: left;
}

.persona-card p {
  margin: 0;
  font-size: 1rem;
  color: #FAFAFA;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
