#servicios {
    margin: 0 auto;
  /*   padding: 0 6.5rem; */
    box-sizing: border-box;
    background-color: rgb(245, 247, 247);
  /*   width: 100%; */
}

.card-exterior {
    background-color: aliceblue;
    border-radius: 20px;
    margin: 0 10px;
    max-width: 300px;
    
}

.card {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;

}

.card-titulo {
    font-size: 25px;
    margin-bottom: 0;
}

.card-ubicacion {
    font-size: 16px;
    display: flex;
    color: rgb(49, 49, 49);
    margin-bottom: 10px;

    align-items: center;
    img {    
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.card-bottom p {
    margin: auto 0;
    font-size: 30px;
    font-weight: bold;
}

.card-bottom span {
    color: rgb(61, 61, 61);
    font-size: 25px;
    font-style: italic;
}

/* .card-bottom button {
    border-radius: 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 2.5rem;
    
    margin: 5px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgb(31, 30, 30);
    }
} */

.servicios-titulo {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.servicios-ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 38px;
    width: 67rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    li:first-child {
        padding-left: 0px;
    }
}



.servicios-botones-carrusel {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 20px 0;
    
    button {
        border-radius: 20px;
        background-color: black;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        padding: 10px;
        width: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: rgb(31, 30, 30);
        }
        &:disabled {
            background-color: rgb(136, 145, 145);
            cursor: not-allowed;
        }
    }
}

.modal-card {
    width: 40rem;
    border-radius: 20px;
    padding: 20px;
    margin: 3rem auto;
    form {
        display: flex;
        justify-content: end;
        margin-bottom: 10px;
        button {
            border-radius: 100%;
            background-color: black;
            border: 1px solid black;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: rgb(31, 30, 30);
            }
        }
    }
}

.modal-card > img {
    height: 200px;
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    object-fit: cover;
    border: 2px solid black;
}



.modal-card p {
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 20px;
    padding: 10px;;
    text-align: start;
    
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}